.Link{
    text-decoration: none;
}
.fondo{
    background-image: url(./images/main.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    height: 100%;
}
.fede{
    width: 50vw;
    height: 50vh;
    background-color: blue
}